<!DOCTYPE html>
<html lang="lt">
<head>
    <link rel="icon" href="favicon.png">
    <title>Sistema daržininkams-mėgėjams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <!DOCTYPE html>
<html>
<head>
    <title>Daržininkams-mėgėjams sistema</title>
    <!-- Čia įtraukite savo stilių ir bibliotekų nuorodas -->
</head>
<body>
    <h1>Sveiki atvykę į Daržininkams-mėgėjams sistemą!</h1>
    <!-- Čia įtraukite savo turinį pagal projektui reikalingus elementus -->
</body>
</html>
 <div class="meniu"></div>
        </div>
    </nav>
</header>
    <h1 id="ManoVardas">Vardas Pavarde</h1>

        <a href="index.html">Pagrindinis</a>
        <a href="darzas_list.html">Auginamų daržovių sąrašas:</a>
        <a href="darzo_darbai_form.html">Darzo darbai:</a>
        <a href="vaisiu_poreikis.html">Sėklų apskaičiavimas:</a>
        <a href="vartotojas_form">Informacija apie vartotoją:</a>
        <a href="vartotojas_list.html">Vartotojų sąrašas:</a>
        <a href="veisle_list">Veislių sąrašas:</a>

        </head>



    <link rel="stylesheet" href="css/manodizainas.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/mediaQueries.css">
    <script src="js/kodas.js" defer></script>
    <script src="js/gmmd.js"></script>
    <script src="js/DOM_Manipuliacijos.js" defer></script>
    <script src="js/meniu.js" defer></script>
</head>
<body>

<header>
    <h1></h1>
<!--    Meniu juosta pritaikyta Desktop tipo irenginiams-->
    <nav class="desktop">
        <div class="meniu"></div>
    </nav>
    <!--    Meniu juosta pritaikyta Mobile tipo irenginiams-->
    <nav class="mobile">
        <div class="burger">

            <div class="meniu"></div>
        </div>
    </nav>
</header>
<aside>
    <header onclick="kaDaryti()">Mano 3 darbai</header>
    <main>
        <a href="adresasa iki item 1">
            <img src="https://picsum.photos/200/200?random=1" alt="1 item">
        </a>
        <a href="adresasa iki item 2">
            <img src="https://picsum.photos/200/200?random=2" alt="2 item">
        </a>
        <a href="{%url 'mano_veisles' %}">
            <img src="https://picsum.photos/200/200?random=3" alt="3 item">
        </a>
    </main>
    <footer class="more_footer">Daugiau mano darbu</footer>
</aside>
<main>
    <button class="continue">Pradėkime</button>
    <button class="add">Add input element</button>
    <div class="elements"></div>
    <p id="testas">
        <span id="vardas">Vardas Pavarde</span>
        <img src="img/profile.webp" alt="mano profilis" width="300px">
        Web puslapis skirtas daržininkų užrašams Naudotojai gali žymėti ką sodins ir kiek, kokios rūšies daržoves ir kokios veislės.
        Kada sodins sodinukus, kada persodins į lysves. Kada reikia tręsti, laistyti, purkšti nuo kenkėjų.

    </p>
    <div id="elementas">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</main>
<footer>
    <span>2023&copy; Visos teisės saugomos</span>
    <section>Oksana Jakubauske</section>
</footer>

<script src="js/code.jquery.com_jquery-3.7.0.min.js" defer></script>
<script src="js/jqueryKodas.js"defer></script>

</body>
</html>